extends layout

block content
	div(class="logout")
		a(href="/logout") Logout
	
	div(class="wrapper" data-uid="#{uid}")
		div(class="logo")
			img(src="/images/fa-logo.png" alt="logo")

		h1 Freshads Analytics Webapp
		p Type your desired Ad Id and Dates to retrieve data.

		form(id="search")
			div(class="input-group")
				span(class="input-group-addon") Ad Id
				input(id="uniqueId" name="uniqueId" value=uid class="form-control" type="text" placeholder="000000000000000000000000" required pattern="[a-z0-9]{24}" title="Invalid Id! Must have 24 characters")

			div(class="input-group")
				span(class="input-group-addon") Start Date
				input(id="start" name="start" value=start class="form-control" type="text" placeholder="yyyy-mm-dd" required pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])" title="Invalid date format! Use yyyy-mm-dd")

			div(class="input-group")
				span(class="input-group-addon") End Date
				input(id="end" name="end" value=end class="form-control" type="text" placeholder="yyyy-mm-dd" required pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])" title="Invalid date format! Use yyyy-mm-dd")

			div(class="input-group")
				input(class="btn btn-primary btn-lg submit-button" type="submit" name="submit" value="Search")
		
		if data && data.length > 0
			div(class="download")
				a(class="btn btn-info" href="http://freshadsapi.wsm-qi.com/csv/daily/" + apiUri + '?reduce=1')
					| Download Summary

				a(class="btn btn-info" href="http://freshadsapi.wsm-qi.com/csv/daily/" + apiUri)
					| Download Breakdown

			div(class="preview")
				table(id="table" class="table table-striped")
					thead
						tr
							th(title="Order by Number") #
							th(title="Order by Name") Name
							th(title="Order by Groups") Groups
							th(title="Order by Label") Label
							th(title="Order by Count") Count
							th(title="Order by Value") Value

					tbody
					each event, index in data
						tr
							td(style="font-weight:bold;")=index
							td=event.name||'N/A'
							td=event.group||'N/A'
							td=event.label||'N/A'
							td=event.count
							td=event.value||0
				


	script(src="/javascripts/analytics.js")
