doctype html
html
	head
		title= title
		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes")
		link(rel="stylesheet", href="/stylesheets/normalize.min.css")
		link(rel="stylesheet", href="/stylesheets/font-awesome.min.css")
		link(rel="stylesheet", href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/javascripts/jquery-1.11.0.min.js")
		script(src="/javascripts/jquery.tablesorter.min.js")

	body
	block content