extends layout

block content
	div(class="wrapper" data-uid="#{uid}")
		div(class="logo")
			img(src="/images/fa-logo.png" alt="logo")

		h1 Freshads Analytics Webapp
		p Welcome back - Please login

	form(id="login" class="login" action="/login" method="post")
		div(class="input-group")
			span(class="input-group-addon") Email
			input(id="username" name="username" class="form-control" type="text" placeholder="email@domain.com" required pattern="[\w-\.]+@(?:[\w-]+\.)+[a-zA-Z]{2,4}" title="Invalid email! Please try again.")

		div(class="input-group")
			span(class="input-group-addon") Password
			input(id="password" name="password" class="form-control" type="password" placeholder="My_secret_password" required pattern=".{8,}" title="Invalid password! Please try again.")
		
		div(class="input-group")
			input(class="btn btn-primary btn-lg submit-button" type="submit" name="submit" value="Submit")

		p 
			a(href="mailto:developers@2112comms.com" class="reminder-email" title="Email support team...")
				| Gosh Darnit.... I've forgotten my password!
		

	form(id="reminder" class="reminder")
		div(class="input-group")
			span(class="input-group-addon") Email
			input(id="email" name="email" class="form-control" type="text" placeholder="email@domain.com" required pattern="[\w-\.]+@(?:[\w-]+\.)+[a-zA-Z]{2,4}" title="Invalid email! Please try again.")


		div(class="input-group")
			input(class="btn btn-primary btn-lg submit-button" type="submit" name="submit" value="Search")