html {
  background-color: #f8f8f8;
  background: -webkit-gradient(radial, center bottom, 0, center bottom, 460, from(#f8f8f8), to(#ddd));
/* Safari 4-5, Chrome 1-9 */
  background: -webkit-radial-gradient(circle, #f8f8f8, #ddd);
/* Safari 5.1+, Chrome 10+ */
  background: -moz-radial-gradient(circle, #f8f8f8, #eee);
/* Firefox 3.6+ */
/* IE 10 */
  background: -ms-radial-gradient(circle, #f8f8f8, #eee);
}
body {
  background-color: transparent;
  height: 100%;
  width: 100%;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.logout {
  position: absolute;
  right: 20px;
  top: 10px;
}
.wrapper {
  margin: 0 auto;
  max-width: 960px;
}
.logo {
  margin: auto;
  text-align: center;
}
h1,
p {
  text-align: center;
}
.reminder-email {
  font-size: 0.7em;
}
.reminder {
  display: none;
}
form {
  margin: 40px auto 20px auto;
  position: relative;
  width: 100%;
}
.input-group {
  margin: 20px auto;
  max-width: 330px;
  width: 100%;
}
.input-group-addon:first-child {
  border-radius: 0;
  min-width: 95px;
}
.btn,
input.form-control {
  border-radius: 0px;
}
input.submit-button {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 330px;
}
div.download {
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}
div.download a {
  display: block;
  margin: 0 auto 20px auto;
  max-width: 330px;
  width: 100%;
  -webkit-animation: fadein 2s forwards;
  -moz-animation: fadein 2s forwards;
  animation: fadein 2s forwards;
}
.preview {
  -webkit-animation: fadein 2s forwards;
  -moz-animation: fadein 2s forwards;
  animation: fadein 2s forwards;
}
table thead th {
  cursor: pointer;
}
/**/
@media only screen and ( max-width: 600px ) {
  body {
    padding: 20px;
  }
  h1 {
    font-size: 24px;
  }
  .logo,
  .input-group,
  input.submit-button,
  div.download a {
    max-width: 300px;
  }
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
